
body {
background-color: CornflowerBlue;
}
h1 {
  text-align: center;
  font-size: 60;
  color: blue;
}
h2 {
  text-align: left;
  font-size: 40;
  color: blue;
}
  a{
  color: green;
}
h3 {
  font-size: 30;
  color: blue;
}
h5 {
  font-size: 20:
  color: green;
}
h4 {
  font-size: 20;
  color: white;
}
head {
  text-align: center;
  font-size: 100;
  color: blue;
}
.hidden {
  display: none;
}

.centered-input {
  display: block;
  width: 150px;
  margin: 0 auto;
}
div {
  background-color: 65C459;
  border-radius: 50px;
  padding: 70;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -250px;
}
